doctype
html
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon", type="image/svg+xml", href="/favicon.svg")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header.menubar
      a(href="/")
        img(src="/images/logo_sideways.svg")

      nav
        ul
          if user
            li
              a(href="/dashboard") Insiders
            li
              a(href="/users/logout") Logout
          if !user
            li
              a(href="/users/register") Register
            li
              a(href="/users/login") Login
            li
              form(action='/search' method='get')
                input#movieName(type='text' name='ask')
    main
      block content
    footer
        div(id="cpy")
        div
          a(href="#") twitter
