extends layout

block content
  .loginboxouter
    h1 Login
    if errors != undefined && errors.length != 0
        each error in errors
            div(role='alert' id='a1') #{error.msg}
    if success_msg != ''
        div(role='alert' id='a2') #{success_msg}
    if error_msg != ''
        div(role='alert' id='a3') #{error_msg}
    if error != ''
        div(role='alert' id='a4') #{error}
    form(id='myforml' action='/users/login' method='post')
      label Email:
      br
      input(type='text' name='email' required)
      br
      label Password:
      br
      input(type='password' name='password' required)
      br
      input(type='submit' value='Go')
    p No account?&nbsp;
      a(href='/users/register') Register
