extends layout

block content
  .loginboxouter
    h1 Register
    if errors != undefined && errors.length != 0
        each error in errors
            div(role='alert' id='a1') #{error.msg}
    if success_msg != ''
        div(role='alert' id='a2') #{success_msg}
    if error_msg != ''
        div(role='alert' id='a3') #{error_msg}
    if error != ''
        div(role='alert' id='a4') #{error}
    form(id='myformr' action='/users/register' method='post')
      label Name:
      br
      input(type='name' name='name' placeholder='Username' required)
      br
      label Email:
      br
      input(type='email' name='email' placeholder='Email' required)
      br
      label Password:
      br
      input(type='password' name='password' placeholder='Password, minimum 8 characters' required)
      br
      label Password confirm:
      br
      input(type='password' name='password2' placeholder='Repeat password' required)
      br
      input(type='submit' value='Join Heimdall')
    p Have an account?&nbsp;
        a(href='/users/login') Login
